

- membership = @membership || Membership.new

#membership
  #header
    %h1
      Team Members
    #filters
      = link_to [:edit, current_hotel] do
        %i.icon-home
        Hotel Information
      = link_to edit_user_registration_path do
        %i.icon-user
        Edit User Information
      = link_to [current_hotel, :memberships], :class => 'on' do
        %i.icon-user
        Team Members

  #data
    #invite
      %h2
        Invite a New Team Member
      = simple_form_for  [current_hotel, membership], remote: true do |f|
        = f.input :email
        .form-actions
          = f.submit "Invite"

    - if current_hotel.memberships.blank?
      test
    - else
      #current_team  
        %h3
          Current Team  
        %table.standard2
          %thead
            %tr
              %th
                Name
              %th
                Level

          - current_hotel.memberships.includes(:user).decorate.each do |membership|
            %tr.member{id: dom_id(membership)}
              %td.name
                = membership.name
              %td
                - if membership.user.blank?
                  (invited)
                - if membership.user_id == current_hotel.owner_id
                  Owner
                - else
                  %span.link= link_to "Remove", hotel_membership_path(current_hotel, membership), method: :delete, remote: true

