

== Hi #{@membership.name},

#{@from.name} has invited you to join #{@hotel.name} on madbooker.com.

Just #{link_to "sign up", new_user_registration_url} with this email address "#{@membership.email}" and you'll be all set.


Thanks!
The team at Madbooker.com