

== Hi #{@membership.name},

#{@from.name} has invited you to join #{@hotel.name} on madbooker.com.

Just #{link_to "sign up", guid_invited_url(@membership.guid)} with this email address "#{@membership.email}" and you'll be all set.


Thanks!
The team at Madbooker.com