#form_simple_header
  %h2 Let's Setup Your New Booking System!
  %h3 Takes just 5 minutes to get setup!
#form_simple
  = simple_form_for resource, :as => resource_name, :url => registration_path(resource_name), :html => {id: :signup_form} do |f|
    = f.error_notification
    = f.error :base
    .form-inputs
      %h3
        Account Information
      = f.input :email, :autofocus => true
      = f.input :password
      = f.input :password_confirmation
      
      %h3
        Billing Information
      = f.input :cc_number, label: "Credit Card Number", :wrapper_class => 'credit_card_number'
      = f.input :cc_month, collection: 1..12, label: "Month", :wrapper_class => 'month'
      = f.input :cc_year, collection: Date.current.year..(Date.current + 10.years).year, label: "Year", :wrapper_class => 'year'
      = f.input :cc_cvv, label: "CVC", :wrapper_class => 'security'
      = f.input :stripe_token, as: :hidden
    .form-actions
      = button_tag "Sign up", type: :button, id: "sign_up_button"
  = render "devise/shared/links"

