#excite
  %p
    %strong
      Try it, you'll like it! And you have nothing to lose.
    There is no charge to use Madbooker for the first 30 days. And you can cancel at any time.


#form_simple_header
  %h2 You can start your free trial now!
  %h3 In just 15 minutes, you can have your new booking system up and running.

#form_simple
  = simple_form_for resource, :as => resource_name, :url => registration_path(resource_name), :html => {id: :signup_form} do |f|
    = f.error_notification
    = f.error :base
    .form-inputs
      %h3
        %i.icon-user
        Account Information
      = f.input :email, :autofocus => true
      = f.input :password
      = f.input :password_confirmation
      
      %h3
        %i.icon-credit-card
        Secure Billing Form
      = f.input :cc_number, label: "Credit Card Number", :wrapper_class => 'credit_card_number'
      = f.input :cc_month, collection: 1..12, label: "Month", :wrapper_class => 'month'
      = f.input :cc_year, collection: Date.current.year..(Date.current + 10.years).year, label: "Year", :wrapper_class => 'year'
      = f.input :cc_cvv, label: "CVC", :wrapper_class => 'security'
      = f.input :stripe_token, as: :hidden
    .form-actions
      = button_tag "Sign up", type: :button, id: "sign_up_button"
  

  .already
    = link_to "Already signed up? Log into the app.", new_user_session_url( subdomain: :app)

  //= render "devise/shared/links"

