
- add_on ||= @add_on

%tr{id: dom_id( add_on)}
  %td= add_on.name
  %td= add_on.description.truncate 30
  %td= format add_on.price
  %td.actions
    = link_to "Edit", [:edit, current_hotel, add_on]
    = add_on.activate_link