

#header
  %h1 Reports

  #filters
    = link_to revenue_hotel_reports_path do
      %i.icon-money
      Revenue
    = link_to revenue_by_room_type_hotel_reports_path do
      %i.icon-money
      Revenue by Room Type
    = link_to daily_hotel_reports_path do
      %i.icon-money
      Average Daily Rate
    = link_to funnel_hotel_reports_path do
      %i.icon-filter
      Sales Funnel
    = link_to denials_hotel_reports_path do
      %i.icon-filter
      Denials
    = link_to visits_hotel_reports_path do
      %i.icon-filter
      Visits
    = link_to cities_hotel_reports_path do
      %i.icon-filter
      Cities
    = link_to sources_hotel_reports_path do
      %i.icon-filter
      Sources
