


%h1 Reports

#filters
  = link_to "Revenue", revenue_hotel_reports_path
  = link_to "Revenue by Room Type", revenue_by_room_type_hotel_reports_path
  = link_to "Average Daily Rate", daily_hotel_reports_path
  = link_to "Sales Funnel", funnel_hotel_reports_path
  = link_to "Searches", searches_hotel_reports_path(date_range: :month)
