#header 
  %h1 Sales Tax/Fee
  = render "/hotels/form/nav", on: :tax

#data.edit_addon
  = @sales_tax.name
  = @sales_tax.amount
  = @sales_tax.calculated_by
  = @sales_tax.calculated_how

  = link_to "Edit", [:edit, current_hotel, @sales_tax]
  = link_to "All", [current_hotel, :sales_taxes]
