
.room
  .name= room.name
  .description= room.description
  = render "/books/steps/price", room: room
%div
  = simple_form_for @booking, url: select_room_book_path, remote: true do |f|
    = f.input :arrive, as: "hidden"
    = f.input :depart, as: "hidden"
    - if room.is_a? PackageDecorator
      = f.input :bookable_id, as: "hidden", input_html: {value: room.id}
      = f.input :bookable_type, as: "hidden", input_html: {value: "Package"}
    - else  
      = f.input :bookable_id, as: "hidden", input_html: {value: room.room_type_id}
      = f.input :bookable_type, as: "hidden", input_html: {value: "RoomType"}

    = f.submit "Yes!"
