#header
  %h1
    Edit Guest

#data.edit_guest
  = simple_form_for [current_hotel, booking] do |f|

    #summary
      Make suer you check for 
      = link_to "availability", month_hotel_inventories_path(current_hotel, Date.current.year, Date.current.month)
      before changing thte room type or date.
    #room_info
      = f.input :arrive, as: "string", :wrapper_class => "arrival"
      = f.input :depart, as: "string", :wrapper_class => "departure"
      = f.input :bookable, collection: bookables.map{|b| [b.name, "#{b.class.to_s[0]}#{b.id}"]},label: "Room", selected: "#{booking.bookable.class.to_s[0]}#{booking.bookable.id}"
    #registration_info
      = f.input :first_name, :wrapper_class => "first_name"
      = f.input :last_name, :wrapper_class => "last_name"
      = f.input :made_by_first_name, label: "Your First name", :wrapper_class => "your_first_name"
      = f.input :made_by_last_name, label: "Your Last name", :wrapper_class => "your_last_name"
      .clear
      = f.input :email, :wrapper_class => "email"
      = f.input :sms_confirmation, :wrapper_class => "sms"
      .clear
    .form-actions  
      = f.submit "Save Changes"
      
      
      