
#header
  %h1
    Booking Details for
    %span.name
      = @booking.first_name
      = @booking.last_name


#data

    

    
  #guest_data

    #filters
      - if @booking.paid
        = link_to pay_hotel_booking_path(current_hotel, @booking), method: :put do
          %i.icon-money
          Unpay
      - else
        = link_to pay_hotel_booking_path(current_hotel, @booking), method: :put do
          %i.icon-money
          Pay

      = link_to [:edit, current_hotel, @booking] do
        %i.icon-edit-sign
        Edit
      - unless @booking.checked_in?
        = link_to check_in_hotel_booking_path(current_hotel, @booking), method: :put do
          %i.icon-signin
          Check In
      - unless @booking.checked_out?
        = link_to check_out_hotel_booking_path(current_hotel, @booking), method: :put do
          %i.icon-signout
          Check Out
      - unless @booking.canceled?
        = link_to cancel_hotel_booking_path(current_hotel, @booking), method: :put do
          %i.icon-remove
          Cancel Reservation
      - unless @booking.no_show?
        = link_to no_show_hotel_booking_path(current_hotel, @booking), method: :put do
          %i.icon-remove
          No Show

      - unless @booking.open?
        = link_to open_hotel_booking_path(current_hotel, @booking), method: :put do
          %i.icon-plus
          Open

    #status
      %i.icon-check
      Reservation Status is #{@booking.state.titleize}


    .row
      %span Name:
      %span.name
        = @booking.first_name
        = @booking.last_name
    
    .row
      %span Email:
      %span= @booking.email
    
    .row
      %span Room Type:
      %span= @booking.room_name
    
    .row
      %span Rate:
      %span= format @booking.rate
    
    .row
      %span Discount:
      %span= format @booking.discounted_rate
      
    - @booking.applied_sales_taxes.each do |tax|
      .row
        %span #{tax.name}:
        %span= format tax.total

    .row
      %span Total:
      %span= format @booking.total
    
    .row
      %span Arrival: 
      %span= format @booking.arrive
    
    .row
      %span Departure:
      %span= format @booking.depart
    
    .row
      %span Made by:
      %span= @booking.made_by
    
    .row
      %span Made on:
      %span= format @booking.created_at
      
    - if @booking.no_show?
      = link_to_function "Show credit card info", "$('#cc_info').slideToggle()"
      #cc_info.hidden
        .row
          %span CC Number:
          %span= @booking.cc_number
        .row
          %span CC CVV:
          %span= @booking.cc_cvv
        .row
          %span CC Expiration:
          %span= "#{@booking.cc_month}/#{@booking.cc_year}"
        .row
          %span CC Zip:
          %span= @booking.cc_zipcode



