#thanks
  %i.icon-smile
  %h1
    Thank you for booking.
  %h2
    An email confirmation has been sent!          
  .summary= render "/books/summary/summary"

  .seeya
    See you soon!  

  #hotel_name.hotel_date= @hotel.name
  #hotel_address
    %div= @hotel.street1
    %div= @hotel.street2
    %div= @hotel.street3
    %div #{@hotel.city}, #{@hotel.state} #{@hotel.postal_code}
    %div= link_to @hotel.url, @hotel.url

  #fine_print
    %div
      = @hotel.fine_print
      Maximun occupancy for this room is #{@booking.bookable.max_occupancy}.
