


.invoice
  .description
    %strong
      Booking Summary:
    You're booking
    = "#{@booking.room_name} arriving on #{format @booking.arrive} and departing on #{format @booking.depart}. "
  .quantity
    %label
      Total Nights:
    %span
      = "#{@booking.nights} #{"day".pluralize @booking.nights}"
  .price
    %label
      Nightly Rate:
    %span
      = format @booking.lowest_rate
  - unless @booking.applied_sales_taxes.blank?
    .line_total
      %label
        Sub Total:
      %span
        = format @booking.lowest_rate * @booking.nights
  - @booking.applied_sales_taxes.each do |tax|
    .tax_line
      %label
        = tax.name
      //%span
      //  = tax.quantity
      //  \%
      //%span
      //  = format tax.amount
      %span
        = format tax.total
  .line_total
    %label.description 
      %strong
        Total For Stay:
    %span
      %strong
        = format @booking.total
  
      


