


.invoice
  .description
    You've booked a
    = "#{@booking.room_name}, arriving on #{format @booking.arrive} and departing on #{format @booking.depart}. "
  .quantity
    %label
      Total Nights:
    %span
      = @booking.nights
  .price
    %label
      - if @booking.nights > 1
        Average Nightly Rate 
        %br
        (with taxes and fees):
      - else
        Nightly Rate (with taxes and fees):
    %span
      = format @booking.total / @booking.nights
  .line_total
    %label.description 
      %strong
        Total For Stay:
    %span
      %strong
        = format @booking.total
  
      


