= link_to 'Home', root_path
|
- if user_signed_in?
  = link_to "Projects", projects_path
  = link_to "My Account", current_person
  = link_to "Sign out", signout_path
  
- else
  = link_to "Sign up", signup_path
  |
  = link_to "Log in", login_path
