
- add_on ||= @add_on || current_hotel.add_ons.build

= simple_form_for [current_hotel, add_on] do |f|
  = f.input :name, :placeholder => 'Day spa package'
  = f.input :description
  = f.input :price
  = f.input :active
  .clear
  .form-actions
    = f.submit "Save"
