#header
  %h1
    Guest Check-In

#data
  #calendar
    #date_picker
          
  - if @bookings.blank?
    No Reservations for 
    = params[:date]
   
  #today
    - @bookings.each do |booking|
      = render "/check_ins/index/booking", booking: booking
  
  #next_guests
    %table.standard
      %thead
        %tr
          %th
            Name
          %th
            Room Type
          %th
            Arrival 
          %th
            Departure
          %th
            Rate
      %tbody
        - @bookings.each do |booking|
          %tr
            %td= booking.name
            %td= booking.room_name
            %td= booking.arrive
            %td= booking.depart
            %td= link_to "Details", hotel_booking_path(current_hotel, booking)

