
- sales_tax ||= @sales_tax

%tr{id: dom_id( sales_tax)}
  %td= sales_tax.name
  %td= sales_tax.amount_string
  %td= sales_tax.calculated_by
  %td= sales_tax.calculated_how
  %td.actions
    = link_to "Edit", [:edit, current_hotel, sales_tax]
    /= sales_tax.activate_link