

.project_memberships{:id => project.dom_id('project_memberships')}
  %table
    %thead
      %tr
        %th Name
        %th Email
        %th 
    %tbody{:id => project.dom_id('project_memberships_rows')}
      = render project.project_memberships.with_people
            
  .invite
    Invite someone:
    - simple_form_for [project, project.project_memberships.build], :format => :js, :remote => true do |f|
      = f.input :first_name
      = f.input :last_name
      = f.input :email
      = f.button :submit
    


