
#hotel_information
  - if current_hotel.logo.blank?
    #hotel_name
      = @hotel.name
  - else
    #logo= image_tag current_hotel.logo.url, :style => 'width: 300px;'
  
  #hotel_data

    #hotel_data_holder
      .hotel_data_column
        #hotel_phone.hotel_date
          %i.icon-phone
          = @hotel.phone
        #hotel_website.hotel_date
          %i.icon-laptop
          = link_to "Website", @hotel.url
      .hotel_data_column
        #hotel_address.hotel_date
          %i.icon-home
          %div= @hotel.street1
          %div= @hotel.street2
          %div= @hotel.street3
          %div #{@hotel.city}, #{@hotel.state} #{@hotel.postal_code}
#page
  #column_steps
    %ul
      %li
        Step 1, Choose your dates
      %li
        Step 2, Choose your room
      %li
        Step 4, Checkout

  #content_steps      
    = render "books/steps/step1"
    = render "books/steps/step2"
    = render "books/steps/step3"


