
- hotel ||= @hotel

#form
  %h1 Create Your Hotel

  = simple_nested_form_for hotel do |f|
    .section
      %h3 
        %i.icon-signin
        Hotel Information
      = f.error :base, :error_method => :to_sentence
      = f.input :name, :label => 'Property Name', :wrapper_class => 'hotel_name'
      = f.input :phone, :placeholder => '555-555-5555', :wrapper_class => 'phone'
      = f.input :fax, :placeholder => '555-555-5555', :wrapper_class => 'fax'
      .clear
      = f.input :street1, :wrapper_class => 'address'
      = f.input :street2, :wrapper_class => 'address2'
      = f.input :street3, :wrapper_class => 'address3'
      = f.input :city, :wrapper_class => 'city'
      = f.input :state, :wrapper_class => 'state'
      = f.input :country, priority: [ "United States", "Canada" ], :wrapper_class => 'country'
      = f.input :postal_code, :wrapper_class => 'postal_code'
      .clear
      = f.input :minimal_inventory_notification_threshold, :wrapper_class => 'inventory_threshold', required: true, hint: "You will receive a daily email telling you when your inventory for any room type has fallen bellow this threshold for the upcoming 30-day period."
      = f.association :currency, collection: Currency.options_for_select, :wrapper_class => 'currency'
      = f.input :time_zone, :wrapper_class => 'time_zone'
      = f.input :email, :wrapper_class => 'email'

      .clear
      = f.input :logo, :hint => "Logo must be 190px by 150px in jpg or png format. <a href='#'>How do I resize my logo</a>".html_safe, :label => 'Hotel Logo'
      - if f.object.logo?
        #logo
          = image_tag f.object.logo.url(:thumb)
          = link_to delete_logo_hotel_path(hotel), method: :delete, remote: true, :class => "delete_logo" do
            %i.icon-remove
            Delete Logo
    .section
      %h3 
        %i.icon-laptop
        Website Information
      = f.input :url, :label => "Hotel Website URL", :hint => "http://yourwebsite.com", :wrapper_class => 'website_url'
      = f.input :subdomain, :hint => "http://yoursubdomain.madbooker.com", :label => "Madbooker Subdomain", :wrapper_class => 'subdomain'
      .clear
      = f.input :google_analytics_code, :hint => "UA-XXXXXX-1", :wrapper_class => "google_analytics_code"
      = f.input :google_analytics_code_type, :hint => "<a href='#{ga_instructions_hotels_path}' target='_blank'>What's the difference?</a>".html_safe, :wrapper_class => "google_analytics_code_type", collection: Hotel::GOOGLE_ANALYTICS_TYPES
      .clear
      = f.input :fine_print, :label => 'Booking Fine Print', :hint => "This content will be displayed at the end of the reservation process, right above Submit button. You may want to include your cancelation policy and other important info."
      /= f.input :room_rates_display, collection: Hotel::ROOM_RATE_DISPLAY, include_blank: false
      

    .section
      %h3 
        %i.icon-moon
        Creating Room Types
      = f.fields_for :room_types do |ff|
        = ff.input :name, :placeholder => 'Honeymoon Suite', :label => "Name This Room Type", :wrapper_class => 'room_name'
        = ff.input :number_of_rooms, :value => '1', :wrapper_class => 'number_of_rooms'
        = ff.input :default_rate, :placeholder => '1', :wrapper_class => 'default_rate'
        = ff.input :discounted_rate, :placeholder => '1', :wrapper_class => 'discounted_rate'
        = ff.input :max_occupancy, :placeholder => '1', :wrapper_class => 'max_occupancy'
        .clear
        = ff.input :description, :placeholder => 'This beautiful 500sq ft room...', :label => "Describe This Room"

        .clear
        = ff.input :image, :hint => "Images must be 300px by 200px in jpg or png format.", :label => 'Room Image'
        - if ff.object.image?
          %div{id: dom_id(ff.object, "image")}
            = image_tag ff.object.image.url(:medium)
            = link_to delete_image_hotel_room_type_path(hotel, ff.object), method: :delete, remote: true, :class => "delete_logo" do
              %i.icon-remove
              Delete Image
        .clear
        .remove
          = ff.link_to_remove do
            %i.icon-trash
            Remove This Room Type
      = f.link_to_add :room_types, :class=>'add_link' do
        %i.icon-plus
        Add a Room Type

    
    .form-actions.button_footer     
      = f.button :submit, "Save Hotel"
