#form
  %h1 Create Your Hotel

  = simple_nested_form_for hotel do |f|
    .section
      %h3 
        %i.icon-signin
        Hotel Information
      = f.error :base, :error_method => :to_sentence
      = f.input :name, :label => 'The Name of Your Hotel or BNB', :wrapper_class => 'hotel_name'
      = f.input :phone, :placeholder => '555-555-5555', :wrapper_class => 'phone'
      = f.input :fax, :placeholder => '555-555-5555', :wrapper_class => 'fax'
      .clear
      = f.input :address, :label => 'Hotel Address', :hint => 'Please include your full mailing address.'

      = f.input :minimal_inventory_notification_threshold, :hint => "I don't know what this does.", :wrapper_class => 'inventory_threshold'
      = f.association :currency, collection: Currency.options_for_select, :wrapper_class => 'currency'
      = f.input :time_zone, :wrapper_class => 'time_zone'
      .clear
      = f.input :logo, :hint => "Size recommendations needed", :label => 'Hotel Logo'
      - if f.object.logo?
        #logo
          = image_tag f.object.logo.url(:thumb)
          = link_to 'delete logo', delete_logo_hotel_path(hotel), method: :delete, remote: true
    .section
      %h3 
        %i.icon-laptop
        Website Information
      = f.input :url, :label => "Hotel Website URL", :hint => "http://yourwebsite.com", :wrapper_class => 'website_url'
      = f.input :subdomain, :hint => "http://yoursubdomain.madbooker.com", :label => "Madbooker Subdomain", :wrapper_class => 'subdomain'
      .clear
      = f.input :google_analytics_code, :hint => "I don't know how to set this up."
      = f.input :fine_print, :label => 'Booking Fine Print', :hint => "This is the agreement the guest will agree to before submitting their booking", :placeholder => 'test'
      /= f.input :room_rates_display, collection: Hotel::ROOM_RATE_DISPLAY, include_blank: false
      

    .section
      %h3 
        %i.icon-moon
        Creating Room Types
      = f.fields_for :room_types do |ff|
        = ff.input :name, :placeholder => 'Honeymoon Suite', :label => "Name This Room Type"
        = ff.input :description, :placeholder => 'This beautiful 500sq ft room...', :label => "Describe This Room"
        = ff.input :number_of_rooms, :value => '1', :wrapper_class => 'number_of_rooms'
        = ff.input :default_rate, :placeholder => '1', :wrapper_class => 'default_rate'
        = ff.input :discounted_rate, :placeholder => '1', :hint=>'is this suppose to be a dollar amount or %, what does this do?', :wrapper_class => 'discounted_rate'
        .clear
        .remove
          = ff.link_to_remove do
            %i.icon-trash
            Remove This Room Type
      = f.link_to_add :room_types, :class=>'add_link' do
        %i.icon-plus
        Add a Room Type

    
    .form-actions.button_footer     
      = f.button :submit, "Save Hotel"
