
- membership = @membership || Membership.new

#membership
  %h2 Add someone to your team
  = simple_form_for  [current_hotel, membership], remote: true do |f|
    = f.input :email
    = f.submit "Invite"


  - current_hotel.memberships.includes(:user).decorate.each do |membership|
    - next if membership.user_id == current_hotel.owner_id
    .member{id: dom_id(membership)}
      .name
        = membership.name
        - if membership.user.blank?
          (invited)
      .link= link_to "Remove", hotel_membership_path(current_hotel, membership), method: :delete, remote: true

