#setup
  #header
    %h1
      Setup Instructions
    #filters
      = link_to [:edit, current_hotel] do
        %i.icon-home
        Hotel Information
      = link_to edit_user_registration_path do
        %i.icon-user
        Edit User Information
      = link_to [current_hotel, :memberships] do
        %i.icon-user
        Team Members
      = link_to setup_instructions_hotels_path, :class => 'on' do
        %i.icon-user
        Setup Instructions

  #data
    %h2
      %span
        Step 1
      Create a Button or Link
    You must pick a button or link to put on your website. This link will send your website visitors into your madbooker booking engine.
    
    #link_builder
      .option
        Pick Your Text
        = select_tag "", options_for_select(["Book Your Room", 'Book Your Nights', "Make a Reservation", 'Reserve Your Room']), :id => "link_text"
      
      .option
        Pick Your Style
        = select_tag "", options_for_select(["Link", "Grey button", "Green button", "Blue button"]), :id => :link_look
        = hidden_field_tag "", current_hotel.booking_url, id: "booking_url"
      
          
      #preview
        .what
          Preview
          %i.icon-long-arrow-right
        //.copy
        //Here's what your button/link will look like.
        #example
          = link_to 'Book Your Room', current_hotel.booking_url, :target=>'_blank'
        .what
          %i.icon-long-arrow-left
          Preview

      .clear
      //#use_this_code  
      //  %h3
      //    Copy & Paste
      //  .copy
      //    Here's the code you'll need to add to your website.
      //  %textarea#example_text
      //    = link_to 'Book Your Room', current_hotel.booking_url, :target=>'_blank'
      //  .hint
      //    %i.icon-long-arrow-left
      //    Double click on the text inside the white box and copy and paste that into your website's code base.

    //%h2
    //  %span
    //    Step 2
    //  Add your button/link to you website
    //Take the code from Step 1 and insert it into your website.
    //  
    //  
    //%h2
    //  %span
    //    Step 3
    //  Publish Your Updated Website
    //This will make your your embedded link or button to your Madbooker booking engine live.

      
    %h2
      %span
        <a href='#{ga_instructions_hotels_path}' target='_blank'>figure out which one</a>
        Step 4
      Ensure that cross­domain tracking is configured in Google Analytics.
    Note, this step may be ommited if you're not using Google Analytics integration.
    Add this snippet to the page with the link/button above:
    
    .highlight
      %h3
        Copy and Paste this if...
      .if
        If you're using #{Hotel::GA_UNIVERSAL_ANALYTICS}:  
      %textarea
        :plain
          <script>
          ga('require', 'linker');
          ga('linker:autoLink', "#{App.ga_root_domain}");
          </script>
    
    //.highlight
    //  %h3
    //    Copy and Paste this if...
    //  .if
    //    If you're using #{Hotel::GA_CLASSIC_ASYNCHRONOUS}:
    //  %textarea
    //    :plain
    //      _gaq.push(['_link', "#{current_hotel.host}"])
    

    So this:
    %pre
      %code
        :escaped
          <a href="#{current_hotel.booking_url}" target="_blank">Book Your Room</a>
    becomes this:
    %pre
      %code
        :escaped
          <a href="#{current_hotel.booking_url}" onclick="_gaq.push(['_link', "#{current_hotel.host}"])" target="_blank">Book Your Room</a>
    %h2
      Frenquently Asked Questions
    .faq
      .question
        = link_to "Have as many links to your booking engine as you like.", "#"
      .answer
        Here's the answer to the question.
    .faq
      .question
        = link_to "Do publish the link? ", "#"
      .answer
        Here's the answer to the question.
    .faq
      .question
        = link_to "How can I tell if I use Google Analytics #{Hotel::GA_UNIVERSAL_ANALYTICS} or #{Hotel::GA_CLASSIC_ASYNCHRONOUS}?", "#"
      .answer
        = render "/hotels/ga_instructions/instructions"
        
        
        
        
