#setup
  #header
    %h1
      Setup Instructions
    = render "/hotels/form/nav", on: :setup

  #data
    %h2
      %span
        Step 1
      Create a Button or Link
    Pick a button or link to put on your website. This link will send your website visitors into your MadBooker booking engine.
    
    #link_builder
      .option
        Pick Your Text
        = select_tag "", options_for_select(["Book Your Room", 'Book Your Nights', "Make a Reservation", 'Reserve Your Room']), :id => "link_text"
      
      .option
        Pick Your Style
        = select_tag "", options_for_select(["Link", "Grey button", "Green button", "Blue button"]), :id => :link_look
        = hidden_field_tag "", current_hotel.booking_url, id: "booking_url"
        = hidden_field_tag "", current_hotel.host, id: "host"
      
          
      #preview
        .what
          Preview
          %i.icon-long-arrow-right
        //.copy
        //Here's what your button/link will look like.
        #example
          = link_to 'Book Your Room', current_hotel.booking_url, :target=>'_blank'
        .what
          %i.icon-long-arrow-left
          Preview

      .clear
      //#use_this_code  
      //  %h3
      //    Copy & Paste
      //  .copy
      //    Here's the code you'll need to add to your website.
      //  %textarea#example_text
      //    = link_to 'Book Your Room', current_hotel.booking_url, :target=>'_blank'
      //  .hint
      //    %i.icon-long-arrow-left
      //    Double click on the text inside the white box and copy and paste that into your website's code base.

    //%h2
    //  %span
    //    Step 2
    //  Add your button/link to you website
    //Take the code from Step 1 and insert it into your website.
    //  
    //  
    //%h2
    //  %span
    //    Step 3
    //  Publish Your Updated Website
    //This will make your your embedded link or button to your Madbooker booking engine live.

      
    %h2
      %span
        Step 2
      Copy & Paste The Booking Code Into Your Website
    This gives your visitors the ability to make reservations using your new booking engine.

    //Ensure that cross­domain tracking is configured in Google Analytics.
    //Note, this step may be ommited if you're not using Google Analytics integration.
    //Add this snippet to the page with the link/button above:
    //<a href='#{ga_instructions_hotels_path}' target='_blank'>figure out which one</a>

    .clear
    
    .highlight
      .header
        If you're using #{Hotel::GA_UNIVERSAL_ANALYTICS}:  
      .candp
        Copy and Paste into the head area just before the &lt;/head&gt;
      %textarea
        :plain
          <script>
          ga('require', 'linker');
          ga('linker:autoLink', ["#{App.ga_root_domain}"]);
          </script>
      %br
      Add this where you want your button/link to appear
      %textarea#example_text1
        = link_to 'Book Your Room', current_hotel.booking_url, :target=>'_blank'


    .or
      OR

    .highlight.highlight_right
      .header
        If you're using #{Hotel::GA_CLASSIC_ASYNCHRONOUS}:
      .candp
        Copy and Paste where you want your button/link to appear
      //%textarea
      //:plain
      //_gaq.push(['_link', "#{current_hotel.host}"])
      %textarea#example_text2
        :escaped
          <a href="#{current_hotel.booking_url}" onclick="_gaq.push(['_link', "#{current_hotel.host}"])" target="_blank">Book Your Room</a>
      .figure_out
        %strong
          %i.icon-question-sign
          Help Tip:
        Google Analytics: Universal Analytics or Classic Asynchronous.
        <a href='#{ga_instructions_hotels_path}' target='_blank'>Which one do you use?</a>

    .clear

    //So this:
    //%pre
    //  %code
    //    :escaped
    //      <a href="#{current_hotel.booking_url}" target="_blank">Book Your Room</a>
    //becomes this:

    %h2
      %span
        Step 3
      Verify that the link is working.
    This will make your your embedded link or button to your Madbooker booking engine live.



    #faq

      %h2
        Frequently Asked Questions
      .faq
        .question
          How many links or buttons can I put on my website?
        .answer
          As many as you want.
      .faq
        .question
          Why do I need to integrate MadBooker with my Google Analytics account?
        .answer
          You don't have to. As long as you add the MadBooker buttons or link to your site, the booking engine will work.
          %br
          %br
          Linking MadBooker with your Google Analytics account enables you to see some additional reports, in the Reports section, about who is visiting your website (Visits, Citites, and Sources). Statistics regarding your booking engine will be provided in the Reports section whether or now you link up with Google Analytics.

          
        
        
        
