



#header
  %h1
    = @hotel.name
    Dashboard

#data

  .total_revenue  
    .header
      = link_to revenue_hotel_reports_path(current_hotel) do
        %i.icon-money
        Booking Stats (Amounts)
    .week
      .data
        .add +
        .what
          This Month
        .number
          %span= @hotel.currency.html_symbol
          = format_for_dash @hotel.mobile_booking_amount_this_month
        .where
          %i.icon-mobile-phone
          Mobile
      .data
        .add +
        .what
          This Month
        .number
          %span= @hotel.currency.html_symbol
          = format_for_dash @hotel.tablet_booking_amount_this_month
        .where
          %i.icon-tablet
          Tablet
      .data
        .equal =
        .what
          This Month
        .number
          %span= @hotel.currency.html_symbol
          = format_for_dash @hotel.other_booking_amount_this_month
        .where
          %i.icon-laptop
          Computer
      .data
        .what
          This Month
        .number
          %span= @hotel.currency.html_symbol
          = format_for_dash @hotel.total_booking_amount_this_month
        .where
          Total
    .month_row
      .data
        .add +
        .what
          Last Month
        .number
          %span= @hotel.currency.html_symbol
          = format_for_dash @hotel.mobile_booking_amount_last_month
        .where
          %i.icon-mobile-phone
          Mobile
      .data
        .add +
        .what
          Last Month
        .number
          %span= @hotel.currency.html_symbol
          = format_for_dash @hotel.tablet_booking_amount_last_month
        .where
          %i.icon-tablet
          Tablet
      .data
        .equal =
        .what
          Last Month
        .number
          %span= @hotel.currency.html_symbol
          = format_for_dash @hotel.other_booking_amount_last_month
        .where
          %i.icon-laptop
          Computer
      .data
        .what
          Last Month
        .number
          %span= @hotel.currency.html_symbol
          = format_for_dash @hotel.total_booking_amount_last_month
        .where
          Total
          
          
  .total_revenue  
    .header
      = link_to revenue_hotel_reports_path(current_hotel) do
        %i.icon-suitcase
        Booking Stats (Numbers)
    .week
      .data
        .add +
        .what
          This Month
        .number
          = format_for_dash @hotel.mobile_booking_count_this_month
        .where
          %i.icon-mobile-phone
          Mobile
      .data
        .add +
        .what
          This Month
        .number
          = format_for_dash @hotel.tablet_booking_count_this_month
        .where
          %i.icon-tablet
          Tablet
      .data
        .equal =
        .what
          This Month
        .number
          = format_for_dash @hotel.other_booking_count_this_month
        .where
          %i.icon-laptop
          Computer
      .data
        .what
          This Month
        .number
          = format_for_dash @hotel.total_booking_count_this_month
        .where
          Total
    .month_row
      .data
        .add +
        .what
          Last Month
        .number
          = format_for_dash @hotel.mobile_booking_count_last_month
        .where
          %i.icon-mobile-phone
          Mobile
      .data
        .add +
        .what
          Last Month
        .number
          = format_for_dash @hotel.tablet_booking_count_last_month
        .where
          %i.icon-tablet
          Tablet
      .data
        .equal =
        .what
          Last Month
        .number
          = format_for_dash @hotel.other_booking_count_last_month
        .where
          %i.icon-laptop
          Computer
      .data
        .what
          Last Month
        .number
          = format_for_dash @hotel.total_booking_count_last_month
        .where
          Total

  .total_revenue  
    .header
      = link_to revenue_hotel_reports_path(current_hotel) do
        %i.icon-money
        Revenue Stats
    .week
      .data
        .add +
        .what
          This Month
        .number
          %span= @hotel.currency.html_symbol
          = format_for_dash @hotel.mobile_revenue_this_month
        .where
          %i.icon-mobile-phone
          Mobile
      .data
        .add +
        .what
          This Month
        .number
          %span= @hotel.currency.html_symbol
          = format_for_dash @hotel.tablet_revenue_this_month
        .where
          %i.icon-tablet
          Tablet
      .data
        .equal =
        .what
          This Month
        .number
          %span= @hotel.currency.html_symbol
          = format_for_dash @hotel.other_revenue_this_month
        .where
          %i.icon-laptop
          Computer
      .data
        .what
          This Month
        .number
          %span= @hotel.currency.html_symbol
          = format_for_dash @hotel.total_revenue_this_month
        .where
          Total
    .month_row
      .data
        .add +
        .what
          Last Month
        .number
          %span= @hotel.currency.html_symbol
          = format_for_dash @hotel.mobile_revenue_last_month
        .where
          %i.icon-mobile-phone
          Mobile
      .data
        .add +
        .what
          Last Month
        .number
          %span= @hotel.currency.html_symbol
          = format_for_dash @hotel.tablet_revenue_last_month
        .where
          %i.icon-tablet
          Tablet
      .data
        .equal =
        .what
          Last Month
        .number
          %span= @hotel.currency.html_symbol
          = format_for_dash @hotel.other_revenue_last_month
        .where
          %i.icon-laptop
          Computer
      .data
        .what
          Last Month
        .number
          %span= @hotel.currency.html_symbol
          = format_for_dash @hotel.total_revenue_last_month
        .where
          Total
  
  
  
  .denials  
    .header
      = link_to denials_hotel_reports_path(current_hotel) do
        %i.icon-exclamation-sign
        Denial Stats
    .week
      .data
        .add +
        .what
          This Month
        .number
          = @hotel.mobile_denials_this_month
        .where
          %i.icon-mobile-phone
          Mobile
      .data
        .add +
        .what
          This Month
        .number
          = @hotel.tablet_denials_this_month
        .where
          %i.icon-tablet
          Tablet
      .data
        .equal =
        .what
          This Month
        .number
          = @hotel.other_denials_this_month
        .where
          %i.icon-laptop
          Computer
      .data
        .what
          This Month
        .number
          = @hotel.total_denials_this_month
        .where
          Total
    .month_row
      .data
        .add +
        .what
          Last Month
        .number
          = @hotel.mobile_denials_last_month
        .where
          %i.icon-mobile-phone
          Mobile
      .data
        .add +
        .what
          Last Month
        .number
          = @hotel.tablet_denials_last_month
        .where
          %i.icon-tablet
          Tablet
      .data
        .equal =
        .what
          Last Month
        .number
          = @hotel.other_denials_last_month
        .where
          %i.icon-laptop
          Computer
      .data
        .what
          Last Month
        .number
          = @hotel.total_denials_last_month
        .where
          Total
  
  
  
  .revenue_by_room_type
    .header
      = link_to revenue_by_room_type_hotel_reports_path(current_hotel) do
        %i.icon-money
        Revenue by Room Type
    - @hotel.revenue_by_room_type.each do |room_type|
      .room_type
        .name
          = room_type.name
        .daily_average
          .number
            %span= @hotel.currency.html_symbol
            %span= format_for_dash room_type.average
          .when Daily Average
        .week
          .number
            %span= @hotel.currency.html_symbol
            %span= format_for_dash room_type.week
          .when Week
        .month_row
          .number
            %span= @hotel.currency.html_symbol
            %span= format_for_dash room_type.month
          .when Month
  
  
  
  
  
  
  
  
  .number_of_searches
    .header
      %i.icon-search
      Search Activity
    .week
      .data
        .add +
        .what
          This Week
        .number
          = @hotel.mobile_search_this_week
        .where
          %i.icon-mobile-phone
          Mobile
      .data
        .add +
        .what
          This Week
        .number
          = @hotel.tablet_search_this_week
        .where
          %i.icon-tablet
          Tablet
      .data
        .equal =
        .what
          This Week
        .number
          = @hotel.other_search_this_week
        .where
          %i.icon-laptop
          Computer
      .data
        .what
          This Week
        .number
          = @hotel.total_search_this_week
        .where
          All Devices
    .month_row
      .data
        .add +
        .what
          This Month
        .number
          = @hotel.mobile_search_this_month
        .where
          %i.icon-mobile-phone
          Mobile
      .data
        .add +
        .what
          This Month
        .number
          = @hotel.tablet_search_this_month
        .where
          %i.icon-tablet
          Tablet
      .data
        .equal =
        .what
          This Month
        .number
          = @hotel.other_search_this_month
        .where
          %i.icon-laptop
          Computer
      .data
        .what
          This Month
        .number
          = @hotel.total_search_this_month
        .where
          All Devices
  
    .daily_average
      .data
        .add +
        .what
          Daily Average
        .number
          = @hotel.mobile_search_daily_average
        .where
          %i.icon-mobile-phone
          Mobile
      .data
        .add +
        .what
          Daily Average
        .number
          = @hotel.tablet_search_daily_average
        .where
          %i.icon-tablet
          Tablet
      .data
        .equal =
        .what
          Daily Average
        .number
          = @hotel.other_search_daily_average
        .where
          %i.icon-laptop
          Computer
      .data
        .what
          Daily Average
        .number
          = @hotel.total_search_daily_average
        .where
          All Devices
  
  
  
  
  
  
  .number_of_searches
    .header
      %i.icon-flag-checkered
      Look to Book
    .week
      .data
        .add +
        .what
          This Week
        .number
          = @hotel.mobile_look_to_book_this_week
        .where
          %i.icon-mobile-phone
          Mobile
      .data
        .add +
        .what
          This Week
        .number
          = @hotel.tablet_look_to_book_this_week
        .where
          %i.icon-tablet
          Tablet
      .data
        .equal =
        .what
          This Week
        .number
          = @hotel.other_look_to_book_this_week
        .where
          %i.icon-laptop
          Computer
      .data
        .what
          This Week
        .number
          = @hotel.total_look_to_book_this_week
        .where
          All Devices
    .month_row
      .data
        .add +
        .what
          This Month
        .number
          = @hotel.mobile_look_to_book_this_month
        .where
          %i.icon-mobile-phone
          Mobile
      .data
        .add +
        .what
          This Month
        .number
          = @hotel.tablet_look_to_book_this_month
        .where
          %i.icon-tablet
          Tablet
      .data
        .equal =
        .what
          This Month
        .number
          = @hotel.other_look_to_book_this_month
        .where
          %i.icon-laptop
          Computer
      .data
        .what
          This Month
        .number
          = @hotel.total_look_to_book_this_month
        .where
          All Devices
  
    .daily_average
      .data
        .add +
        .what
          Daily Average
        .number
          = @hotel.mobile_look_to_book_daily_average
        .where
          %i.icon-mobile-phone
          Mobile
      .data
        .add +
        .what
          Daily Average
        .number
          = @hotel.tablet_look_to_book_daily_average
        .where
          %i.icon-tablet
          Tablet
      .data
        .equal =
        .what
          Daily Average
        .number
          = @hotel.other_look_to_book_daily_average
        .where
          %i.icon-laptop
          Computer
      .data
        .what
          Daily Average
        .number
          = @hotel.total_look_to_book_daily_average
        .where
          All Devices




