




%h1
  Welcome to MadBooker
  = link_to "edit", [:edit, current_hotel]

.number_of_searches
  .header
    Total number of searches this
  .week
    %i.icon-mobile-phone
    = @hotel.searches_this_week
  .month
    %i.icon-laptop
    = @hotel.searches_this_month
  .daily_average
    = @hotel.searches_daily_average

.total_revenue
  .header
    = link_to "Total revenue this", revenue_hotel_reports_path(current_hotel)
  .week
    %i.icon-mobile-phone  
    = @hotel.revenue_this_week
  .month
    %i.icon-laptop
    = @hotel.revenue_this_month
  .daily_average
    = @hotel.revenue_daily_average

.revenue_by_room_type
  .header
    = link_to "Revenue by room type ", revenue_by_room_type_hotel_reports_path(current_hotel)
  - @hotel.revenue_by_room_type.each do |room_type|
    .room_type
      = room_type.name
      .week
        Week:
        = room_type.week
      .month
        Month:
        = room_type.month
      .daily_average
        Daily Average:
        = room_type.average

/.revenue_per_add_on
/  Revenue per add on this
/  .week
/  .month
/  .daily_average


.look_to_book
  .header
    Look to book this
  .week
    = @hotel.look_to_book_week
  .month
    = @hotel.look_to_book_month
  .daily_average
    = @hotel.look_to_book_daily_average



