




%h1== Welcome to MadBooker
= link_to "edit", [:edit, current_hotel]

.number_of_searches
  Total number of searches this
  .week
    = @hotel.searches_this_week
  .month
    = @hotel.searches_this_month
  .daily_average
    = @hotel.searches_daily_average

.total_revenue
  Total revenue this
  .week
    = @hotel.revenue_this_week
  .month
    = @hotel.revenue_this_month
  .daily_average
    = @hotel.revenue_daily_average

.revenue_by_room_type
  Revenue by room type 
  - @hotel.revenue_by_room_type.each do |room_type|
    .room_type
      = room_type.name
      .week= room_type.week
      .month= room_type.month
      .daily_average= room_type.average

/.revenue_per_add_on
/  Revenue per add on this
/  .week
/  .month
/  .daily_average


.look_to_book
  Look to book this
  .week
    = @hotel.look_to_book_week
  .month
    = @hotel.look_to_book_month
  .daily_average
    = @hotel.look_to_book_daily_average



