



#header
  %h1
    = @hotel.name
    Dashboard
#data
  .number_of_searches
    .header
      Searches
    .week
      This Week
      %i.icon-mobile-phone
      = @hotel.searches_this_week
    .month
      This Month
      %i.icon-laptop
      = @hotel.searches_this_month
    .daily_average
      Daily Average
      = @hotel.searches_daily_average
  .number_of_searches
    //.header
    //  Searches Activity
    .week
      .label
        Searches This Week
      .data
        .number
          15
        .where
          %i.icon-mobile-phone
          Mobile
      .data
        .number
          15
        .where
          %i.icon-laptop
          Other
      .data
        .number
          30
        .where
          Total
    .month
      .label
        Searches This Month
      .data
        .number
          1625
        .where
          %i.icon-mobile-phone
          Mobile
      .data
        .number
          15
        .where
          %i.icon-laptop
          Other
      .data
        .number
          1640
        .where
          Total

    .daily_average
      .label
        Searching Daily Average
      .data
        .number
          5
        .where
          %i.icon-mobile-phone
          Mobile
      .data
        .number
          2
        .where
          %i.icon-laptop
          Other
      .data
        .number
          7
        .where
          Total

  .total_revenue
    .week
      .label
        Revenue This Week
      .data
        .number
          15,832.11
        .where
          %i.icon-mobile-phone
          Mobile
      .data
        .number
          25,388.33
        .where
          %i.icon-laptop
          Other
      .data
        .number
          70,898.33
        .where
          Total
    .month
      .label
        Revenue This Month
      .data
        .number
          125,832.11
        .where
          %i.icon-mobile-phone
          Mobile
      .data
        .number
          115,832.11
        .where
          %i.icon-laptop
          Other
      .data
        .number
          215,832.11
        .where
          Total

    .daily_average
      .label
        Revenue Daily Average
      .data
        .number
          5,832
        .where
          %i.icon-mobile-phone
          Mobile
      .data
        .number
          1,832.01
        .where
          %i.icon-laptop
          Other
      .data
        .number
          6,832.61
        .where
          Total



  .total_revenue
    .header
      = link_to "Revenue", revenue_hotel_reports_path(current_hotel)
    .week
      %i.icon-mobile-phone  
      This Week
      = @hotel.revenue_this_week
    .month
      %i.icon-laptop
      This Month
      = @hotel.revenue_this_month
    .daily_average
      Daily Average
      = @hotel.revenue_daily_average


  .revenue_by_room_type
    .header
      = link_to "Revenue by Room Type", revenue_by_room_type_hotel_reports_path(current_hotel)
    - @hotel.revenue_by_room_type.each do |room_type|
      .room_type
        .name
          = room_type.name
        .week
          %span Week:
          %span= room_type.week
        .month
          %span Month:
          %span= room_type.month
        .daily_average
          %span Daily Average:
          %span= room_type.average

  /.revenue_per_add_on
  /  Revenue per add on this
  /  .week
  /  .month
  /  .daily_average


  .look_to_book
    .header
      Look to book this
    .week
      = @hotel.look_to_book_week
    .month
      = @hotel.look_to_book_month
    .daily_average
      = @hotel.look_to_book_daily_average



