
= render "/reports/show/nav"
= render "/reports/show/ga_nav"

#data   
  #ga
    - if @accounts
      %h2 Pick an account to use
      - @accounts[:items].each do |account|
        .item
          = link_to account[:name], ga_hotel_reports_path(current_hotel, account_id: account[:id])
    - if @profiles
      %h2 Pick a profile to use
      - @profiles[:items].each do |profile|
        .item
          = link_to profile[:name], ga_hotel_reports_path(current_hotel, profile_id: profile[:id])
    - if @error
      %h2 We hit a snag
      .item
        = @error