


#footer
  %span#copyright
    &copy; Copyright
    = Time.now.year
  %span#legal
    = link_to "Privacy Policy", "#{privacy_url}", :class=>"nyroModal", :rel=>"nofollow"
    = link_to "Terms of Service", "#{terms_url}", :class=>"nyroModal", :rel=>"nofollow"
    - if Rails.env.development?
      = link_to "Conductor", conductor_path


  

  #dialog-message.hidden

- if current_hotel
  :javascript
    if (!MB)
      MB = {}
    MB.current_hotel_id = #{current_hotel.id}



