= link_to 'Home', root_path
|
- if user_signed_in?
  = hotel_link
  |
  - if current_hotel
    = link_to "Inventory", [current_hotel, :inventories]
    |
  = link_to "My Account", edit_user_registration_path
  |
  = link_to "Sign out", destroy_user_session_path
  
- else
  = link_to "Sign up", new_user_registration_path
  |
  = link_to "Log in", new_user_session_path
