%ul.mini_dropdown
  %li.home= link_to '', root_path, :class=>"icon-home"
  %li= hotel_link
  - if current_hotel
    %li.dropdown
      = link_to "#" do
        %i.icon-caret-down
        Front Desk
      %ul.hidden
        %li= link_to "Check In", [:check_ins, current_hotel, :bookings]
        %li= link_to "Bookings", [current_hotel, :bookings]
        %li= link_to "No Shows", [:no_shows, current_hotel, :bookings]
    %li.dropdown
      = link_to "#" do
        %i.icon-caret-down
        Back Office
      %ul.hidden
        %li= link_to "Inventory", [current_hotel, :inventories]
        %li= link_to "Availability", month_hotel_inventories_path(current_hotel, Date.current.year, Date.current.month)
        %li= link_to "Add Ons", [current_hotel, :add_ons]
        %li= link_to "Packages", [current_hotel, :packages]
    %li
      = link_to [current_hotel, :reports] do
        %i.icon-bar-chart
        Reports


    //%li= link_to "Public page", book_url(host: current_hotel.host, protocol: App.protocol), target: :_blank
    %li
      //= link_to edit_user_registration_path do
      //  %i.icon-cog
      //  Settings
      = link_to [:edit, current_hotel] do
        %i.icon-cog
        Settings
    %li.logout= link_to "", destroy_user_session_path, method: :delete, :class => 'icon-off'

