!!!
%html
  %head
    %title= title
    = stylesheet_link_tag 'all', media: "all", "data-turbolinks-track" => true 
    = javascript_include_tag "application", "data-turbolinks-track" => true 
    = csrf_meta_tag
    = yield(:head)
    = render "layouts/setup"

  %body
    .container
      #header
        - unless current_hotel.blank?
          #nav
            = render :partial => '/layouts/nav'
      #content
        - unless notice.blank?
          %p.notice= notice
        - unless alert.blank?
          %p.alert= alert
        = yield
      = render :partial => '/layouts/footer'
    = render "layouts/ga/global"
    = render "layouts/ga/brochure"
