!!!
%html
  %head
    %title= title
    = stylesheet_link_tag 'all', media: "all", "data-turbolinks-track" => true 
    = javascript_include_tag "application", "data-turbolinks-track" => true 
    = csrf_meta_tag
    = render "layouts/setup"

    = yield( :head)
    = render "layouts/ga/global"
    = render "layouts/ga/public"
  %body#public
    .container
      - unless notice.blank?
        %p.notice= notice
      - unless alert.blank?
        %p.alert= alert
      = yield
      #footer
        #dialog-message.hidden
