!!!
%html
  %head
    %title= title
    //= stylesheet_link_tag 'all', media: "all", "data-turbolinks-track" => true 
    = stylesheet_link_tag 'all', media: "all"
    = javascript_include_tag "application", "data-turbolinks-track" => true 
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    = render "layouts/setup"

    = csrf_meta_tag
    = yield(:head)
    = render "layouts/ga/global"
    = render "layouts/ga/brochure"
  %body
    .container_simple
      #content
        //%h1= yield(:title)
        - unless notice.blank?
          %p.notice= notice
        - unless alert.blank?
          %p.alert= alert
        = yield
      = render :partial => '/layouts/footer'
    = render "layouts/end_of_body"
